services:
  status:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    image: jekaq/statusapp
    container_name: statusapp
    env_file:
      - ../.env
    ports:
      - "4555:4555"
    volumes:
      - status_data:/data
    restart: unless-stopped

volumes:
  status_data:
    name: statusapp_data
    external: false
