services:
  servicarr:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    image: servicarr:local
    container_name: servicarr
    env_file:
      - ../.env
    environment:
      - UNBLOCK_TOKEN=test123
    ports:
      - "0.0.0.0:4555:4555"
    volumes:
      - servicarr_data:/data
    restart: unless-stopped

volumes:
  servicarr_data:
    name: servicarr_data
    external: false
